[data-theme="nature"] {
	--bg: light-dark(oklch(0.9711 0.0074 80.7211), oklch(0.2683 0.0279 150.7681));
	--fg: light-dark(oklch(0.3 0.0358 30.2042), oklch(0.9423 0.0097 72.6595));
	--surface: light-dark(oklch(0.9711 0.0074 80.7211), oklch(0.3327 0.0271 146.9867));
	--line: light-dark(oklch(0.8805 0.0208 74.6428), oklch(0.3942 0.0265 142.9926));
	--primary: light-dark(oklch(0.5234 0.1347 144.1672), oklch(0.6731 0.1624 144.2083));
	--danger: light-dark(oklch(0.5386 0.1937 26.7249), oklch(0.5386 0.1937 26.7249));
}
